<section class="vice my-12 lg:my-20">
    <ul class="border-grid grid grid-cols-1 gap-x-10 gap-y-10 sm:grid-cols-2 lg:grid-cols-3">
        {{ collection:components }}
            <li class="border-b-grey-200 relative border-b pb-10 last:border-b-0 sm:last:border-b">
                <div
                    class="group hocus:-translate-y-1 flex h-full flex-col-reverse justify-end gap-y-4 transition-transform duration-300 ease-in-out"
                >
                    <div>
                        <div class="flex flex-col-reverse gap-y-2">
                            <h2 class="font-headline mb-2 text-2xl font-bold">
                                <a href="{{ url }}" class="before:cover">
                                    {{ title }}
                                </a>
                            </h2>
                            <span class="text-grey-800 block text-sm">
                                {{ component_type === 'specific' ? 'Spezifische Komponente' : 'Allgemeine Komponente' }}
                            </span>
                        </div>
                        {{ if teaser_description }}
                            <p>{{ teaser_description }}</p>
                        {{ /if }}
                        <span class="button button-primary mt-4 text-white">
                            Mehr erfahren
                            {{ svg:general/arrow class="size-6" }}
                        </span>
                    </div>
                    {{ picture:teaser_image default="300 | 16:9 | calc(95%-4rem)" sm="650 | 16:9 | calc((95%-4rem)/2)" lg="520 | 16:9 | calc((95%-4rem)/3)" xl="580 | 16:9 | 580px" class="rounded-sm size-full object-cover" }}
                </div>
            </li>
        {{ /collection:components }}
    </ul>
</section>
