<section class="vice mt-6 mb-12 lg:mt-10 lg:mb-20">
    <div class="flex flex-col-reverse">
        <h1 class="font-headline text-6xl leading-tight font-bold lg:text-7xl">{{ title }}</h1>
        <span class="text-grey-800 mb-4 block text-sm lg:text-base">
            Angemeldete:r Benutzer:in: {{ current_user.name }}
        </span>
    </div>
</section>

<section class="bg-green-50">
    <div class="vice my-12 py-12 lg:py-20 lg:my-20">
        <h2 class="text-2xl font-bold mb-4 lg:mb-6 lg:text-4xl">Deine Kennzahlen</h2>
        <ul class="grid grid-cols-1 gap-4 lg:grid-cols-3">
            <li class="bg-white rounded-sm p-4 flex flex-col items-center lg:p-6">
                <strong class="text-7xl">{{ automatic_test_count }}</strong>
                <span class="text-center font-semibold text-grey-800">
                    bereits ausgeführte automatische Tests
                </span>
            </li>
            <li class="bg-white rounded-sm p-4 flex flex-col items-center lg:p-6">
                <strong class="text-7xl">{{ checklist_count }}</strong>
                <span class="text-center font-semibold text-grey-800">
                    bereits begonnene Checklisten
                </span>
            </li>
        </ul>
    </div>
</section>
