<section class="vice mt-6 mb-12 lg:mt-10 lg:mb-20">
    <div class="flex flex-col-reverse">
        <h1 class="font-headline text-6xl leading-tight font-bold lg:text-7xl">{{ title }}</h1>
        <span class="text-grey-800 mb-4 block text-sm lg:text-base">
            Angemeldete:r Benutzer:in: {{ current_user.name }}
        </span>
    </div>
</section>

<section class="bg-green-50 my-12 py-12 lg:py-20 lg:my-20">
    <div class="vice">
        <h2 class="text-2xl font-bold mb-4 lg:mb-6 lg:text-4xl">Deine Kennzahlen</h2>
        <ul class="grid grid-cols-1 gap-4 lg:grid-cols-3">
            <li class="bg-white rounded-sm p-4 flex flex-col items-center justify-between lg:p-6">
                <strong class="text-7xl">{{ automatic_test_count }}</strong>
                <span class="text-center font-semibold text-grey-800">
                    bereits ausgeführte automatische Tests
                </span>
            </li>
            <li class="bg-white rounded-sm p-4 flex flex-col items-center justify-between lg:p-6">
                <strong class="text-7xl">{{ visited_count }}</strong>
                <span class="text-center font-semibold text-grey-800">
                    bereits angeschaute Ressourcen
                </span>
            </li>
            <li class="bg-white rounded-sm p-4 flex flex-col items-center justify-between lg:p-6">
                <strong class="text-7xl">{{ checklist_count }}</strong>
                <span class="text-center font-semibold text-grey-800">
                    bereits begonnene Checklisten
                </span>
            </li>
        </ul>
    </div>
</section>

<section class="vice my-12 lg:my-20">
    <h2 class="text-2xl font-bold mb-2 lg:text-4xl">Wie kannst du dich verbessern?</h2>
    <p class="mb-6 lg:mb-8 max-w-4xl">
        Es gibt viele Wege wie du dich verbessern kannst.
        Es wird dargestellt, in welchen Bereichen du dich bereits gut auskennst
        und in welchen Bereichen du noch Verbesserungspotenzial hast.
    </p>
    <ul class="grid grid-cols-1 gap-y-4 lg:gap-y-6">
        {{ components }}
            <li class="bg-green-50 rounded-sm p-4 lg:p-6">
                <h3 class="text-green font-semibold text-xl mb-4 lg:mb-6 lg:text-2xl">
                    Komponente: {{ title }}
                </h3>
                <ul class="grid grid-cols-1 gap-y-4 gap-x-6 md:grid-cols-2">
                    <li>
                        {{ partial:progress/list
                            headline="Bereits angeschaut"
                            list_items="{{ visited }}"
                            type="visited"
                        }}
                    </li>
                    <li>
                        {{ partial:progress/list
                            headline="Noch ausstehend"
                            list_items="{{ not_visited }}"
                        }}
                    </li>
                </ul>
                <div>
                    <strong></strong>
                </div>
                <span class="text-sm text-grey-800 block mt-4 lg:mt-6">
                    Fortschritt:
                    {{ visited | count }} von
                    {{ {visited | count} + {not_visited | count} }}
                    Punkten erreicht
                </span>
            </li>
        {{ /components }}
    </ul>
</section>
