<section class="vice my-20 flex flex-col items-center justify-center px-6 text-center lg:my-40">
    <h1 class="font-headline text-6xl leading-tight font-bold lg:text-7xl">404 Fehler</h1>
    <p class="mt-4">Leider konnte diese Seite nicht gefunden werden</p>
</section>
<section aria-hidden="true" class="mt-auto grid grid-cols-2 lg:grid-cols-4">
    <div>{{ svg:design/preceivable class="size-full" }}</div>
    <div>{{ svg:design/operable class="size-full" }}</div>
    <div>{{ svg:design/understandable class="size-full" }}</div>
    <div>{{ svg:design/robust class="size-full" }}</div>
</section>
