<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <title>Ein Fehler ist aufgetreten</title>
        {{ partial:layout/knowledge-graph }}
        {{ partial:layout/favicons }}
        {{ vite src="resources/js/site.js|resources/css/app.css" }}
    </head>
    <body class="font-base flex min-h-screen flex-col bg-white text-base text-black antialiased">
        {{ partial:layout/header }}
        {{ yield:seo_body }}
        <main id="main" class="flex-grow">
            <section class="flex h-screen items-center justify-center">
                <article class="font-base text-center">
                    {{ error_messages:server_error }}
                        <h1 class="text-lg font-bold">
                            {{ title ?? '500 Fehler: Es ist ein serverseitiger Fehler aufgetreten' }}
                        </h1>
                        <div class="text-base">
                            {{ content }}
                        </div>
                    {{ /error_messages:server_error }}
                </article>
            </section>
        </main>
        {{ partial:layout/footer }}
        {{ partial:layout/scripts }}
        {{ partial:helpers/utility-class-helper }}
    </body>
</html>
