<div>
    <span id="aside-headline" class="mb-2 block">Weitere Informationen</span>
    <ul class="flex flex-wrap gap-4">
        <li>
            <a href="https://www.w3.org/TR/WCAG22/" class="button button-secondary">
                Die WCAG-Richtlinien
                {{ svg:general/arrow-up-right class="size-6" }}
            </a>
        </li>
        <li>
            <a
                href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/conformance.html"
                class="button button-secondary"
            >
                Die Konformitätsstufen
                {{ svg:general/arrow-up-right class="size-6" }}
            </a>
        </li>
    </ul>
</div>
