<section class="vice my-12 max-w-3xl lg:my-20">
    <h1 class="font-headline text-6xl font-bold lg:text-7xl">
        {{ title }}
    </h1>
    <div class="autoformat mt-4 max-w-4xl">
        <p>Um alle Funktionen vollumfänglich nutzen zu können, musst du dich einloggen.</p>
    </div>
    {{ user:login_form class="flex flex-col gap-y-6 mt-6" }}
        {{ if errors }}
            <div class="bg-red-300 p-2 text-white">
                {{ errors }}
                    {{ value }}
                    <br />
                {{ /errors }}
            </div>
        {{ /if }}
        <div>
            <label for="login-email" class="label">Email (erforderlich)</label>
            <input
                id="login-email"
                class="input"
                type="email"
                name="email"
                aria-required="true"
                value="{{ old:email }}"
            />
        </div>

        <div>
            <label for="login-password" class="label">Password (erforderlich)</label>
            <input
                id="login-password"
                class="input"
                type="password"
                name="password"
                aria-required="true"
                value="{{ old:password }}"
            />
        </div>

        <button type="submit" class="button button-primary">Einloggen</button>
    {{ /user:login_form }}
    <div class="mt-6 rounded-sm bg-green-100 px-6 py-4">
        <div class="text-green flex items-center gap-x-2">
            <span class="size-6 shrink-0">{{ svg:status/info }}</span>
            <strong class="font-semibold">Registierung</strong>
        </div>
        <div class="autoformat mt-2">
            <p class="text-grey-800 text-sm lg:text-base">
                Du hast noch Benutzer:innen-Konto angelegt? Dann
                <a href="{{ route:auth.registration }}">registriere</a>
                dich gern!
            </p>
        </div>
    </div>
</section>
