<section class="vice mt-6 mb-12 max-w-4xl lg:mt-10 lg:mb-20">
    <h1 id="form-headline" class="font-headline text-6xl font-bold lg:text-7xl">
        {{ title }}
    </h1>
    <div class="autoformat mt-4 mb-6">
        <p>Um alle Funktionen vollumfänglich nutzen zu können, musst du dich einloggen.</p>
    </div>
    {{ if current_user }}
        {{ partial:sets/content/notice notice_label="Bereits angemeldet" }}
            <p>Du bist bereits angemeldet. Möchtest du dich abmelden?</p>
            <a href="{{ user:logout_url }}" class="button button-primary mt-4">Abmelden</a>
        {{ /partial:sets/content/notice }}
    {{ else }}
        <form
            id="login-form"
            method="POST"
            aria-labelledby="form-headline"
            action="{{ route:auth.login.store }}"
            class="my-6 flex flex-col gap-y-6"
            x-data="form({ errorsCount: '{{ errors | count }}' })"
            novalidate
        >
            {{ csrf_field }}
            {{ partial:forms/error-summary }}
            <div>
                <label for="email" class="label">Email (erforderlich)</label>
                <input
                    id="email"
                    class="input"
                    type="email"
                    name="email"
                    autocomplete="email"
                    aria-required="true"
                    value="{{ old:email }}"
                    {{ if get_error:email }}
                        aria-invalid="true"
                        aria-describedby="registration-email-error"
                    {{ /if }}
                />
                {{ get_errors:email }}
                    {{ partial:forms/field-error field_id="registration-email-error" messages="{{ messages }}" }}
                {{ /get_errors:email }}
            </div>

            <div>
                <label for="password" class="label">Password (erforderlich)</label>
                <input
                    id="password"
                    class="input"
                    type="password"
                    name="password"
                    aria-required="true"
                    value="{{ old:password }}"
                    {{ if get_error:password }}
                        aria-invalid="true"
                        aria-describedby="registration-password-error"
                    {{ /if }}
                />
                {{ get_errors:password }}
                    {{ partial:forms/field-error field_id="registration-password-error" messages="{{ messages }}" }}
                {{ /get_errors:password }}
            </div>

            {{ partial:buttons/submit-button button_label="Einloggen" }}
        </form>

        {{ partial:sets/content/notice notice_label="Registrierung" }}
            <p>
                Du hast noch Benutzer:innen-Konto angelegt? Dann
                <a href="{{ route:auth.register }}">registriere</a>
                dich gern!
            </p>
        {{ /partial:sets/content/notice }}
    {{ /if }}
</section>
