{{ user:register_form }}
    {{ if errors }}
        <div class="bg-red-300 p-2 text-white">
            {{ errors }}
                {{ value }}
                <br />
            {{ /errors }}
        </div>
    {{ /if }}
    {{ if success }}
        <div class="bg-green-300 p-2 text-white">
            {{ success }}
            <br />
        </div>
    {{ /if }}
    <label>Name</label>
    <input type="name" name="name" value="{{ old:name }}" />

    <label>Email</label>
    <input type="email" name="email" value="{{ old:email }}" />

    <label>Password</label>
    <input type="password" name="password" />

    <label>Password Confirmation</label>
    <input type="password" name="password_confirmation" />

    <button>Register</button>
{{ /user:register_form }}
