<section class="vice mt-6 mb-12 lg:mt-10 lg:mb-20 max-w-4xl">
    <h1 id="form-headline" class="font-headline text-6xl font-bold lg:text-7xl">
        {{ title }}
    </h1>

    <div class="autoformat mt-4 mb-6">
        <p>Um alle Funktionen vollumfänglich nutzen zu können, musst du ein Benuzter:innen-Konto anlegen.</p>
        <p><strong>Folgende Funktionen werden freigeschaltet:</strong></p>
        <ul>
            <li>Speichern der Ergebnisse von automatisierten Tests</li>
            <li>Durchführen und Speichern von Qualitätssicherungen</li>
            <li>Lernprozess verfolgen</li>
        </ul>
    </div>
    {{ if success }}
        {{ partial:sets/content/notice notice_label="Registrierung erfolgreich" }}
            <p>Herzlich Willkommen! Deine Registrierung war erfolgreich.</p>
            <a href="{{ homepage }}" class="button button-primary mt-4">Zur Startseite</a>
        {{ /partial:sets/content/notice }}
    {{ elseif current_user }}
        {{ partial:sets/content/notice notice_label="Bereits registiert" }}
            <p>Du hast bereits ein Benuzter:innen-Konto und bist bereits angemeldet. Möchtest du dich abmelden?</p>
            <a href="{{ user:logout_url }}" class="button button-primary mt-4">Abmelden</a>
        {{ /partial:sets/content/notice }}
    {{ else }}
        <form
            method="POST"
            aria-labelledby="form-headline"
            action="{{ route:auth.registration.store }}"
            class="my-6 flex flex-col gap-y-6"
            x-data="form({ errorsCount: '{{ errors | count }}' })"
            novalidate
        >
            {{ csrf_field }}
            {{ partial:forms/error-summary }}
            <div>
                <label for="name" class="label">Username (erforderlich)</label>
                <input
                    id="name"
                    type="name"
                    name="name"
                    class="input"
                    aria-required="true"
                    value="{{ old:name }}"
                    {{ if get_error:name }}
                        aria-invalid="true"
                        aria-describedby="registration-name-error"
                    {{ /if }}
                />
                {{ get_errors:name }}
                    {{ partial:forms/field-error field_id="registration-name-error" messages="{{ messages }}" }}
                {{ /get_errors:name }}
            </div>

            <div>
                <label for="email" class="label">Email (erforderlich)</label>
                <input
                    id="email"
                    class="input"
                    type="email"
                    name="email"
                    aria-required="true"
                    value="{{ old:email }}"
                    {{ if get_error:email }}
                        aria-invalid="true"
                        aria-describedby="registration-email-error"
                    {{ /if  }}
                />
                {{ get_errors:email }}
                    {{ partial:forms/field-error field_id="registration-email-error" messages="{{ messages }}" }}
                {{ /get_errors:email }}
            </div>

            <div>
                <label for="password" class="label">Password (erforderlich)</label>
                <input
                    id="password"
                    class="input"
                    type="password"
                    name="password"
                    aria-required="true"
                    value="{{ old:password }}"
                    {{ if get_error:password }}
                        aria-invalid="true"
                        aria-describedby="registration-password-error"
                    {{ /if }}
                />
                {{ get_errors:password }}
                    {{ partial:forms/field-error field_id="registration-password-error" messages="{{ messages }}" }}
                {{ /get_errors:password }}
            </div>

            <div>
                <label for="password_confirmation" class="label">Password bestätigen (erforderlich)</label>
                <input
                    id="password_confirmation"
                    type="password"
                    name="password_confirmation"
                    aria-required="true"
                    class="input"
                />
            </div>

            {{ partial:buttons/submit-button button_label="Registrieren" }}
        </form>

        {{ partial:sets/content/notice notice_label="Login" }}
            <p>
                Du hast bereits ein Benutzer:innen-Konto? Dann
                <a href="{{ route:auth.login }}">melde dich gerne an!</a>
            </p>
        {{ /partial:sets/content/notice }}
    {{ /if }}
</section>
