<section class="vice my-12 lg:my-20">
    <div class="max-w-4xl">
        <h1 class="font-headline leading-tight text-6xl font-bold lg:text-7xl">
            Alle Checklisten
        </h1>
        <p class="mt-4">
            Diese Checklisten helfen dir dabei, deine Web-Projekte
            auf Barrierefreiheit zu prüfen. Automatisierte Tests können leider nur einen kleinen
            Teil abdecken, für alle anderen Prüfschritte kommst du ins Spiel. Mithilfe dieser Checklisten
            findest du weitere Informationen und testest Fälle, die von keinen automatischen Tests abgedeckt werden können.
        </p>
    </div>
</section>

<p>{{ checklists | count }}</p>

{{ checklists }}
    <p>{{ title }}</p>
{{ /checklists }}
