<section class="vice my-12 lg:my-20">
    <div class="max-w-4xl">
        <h1 class="font-headline text-6xl leading-tight font-bold lg:text-7xl">Alle Checklisten</h1>
        <p class="mt-4">
            Diese Checklisten helfen dir dabei, deine Web-Projekte auf Barrierefreiheit zu prüfen. Automatisierte Tests
            können leider nur einen kleinen Teil abdecken, für alle anderen Prüfschritte kommst du ins Spiel. Mithilfe
            dieser Checklisten findest du weitere Informationen und testest Fälle, die von keinen automatischen Tests
            abgedeckt werden können.
        </p>
        <a href="{{ route:checklists.create }}" class="button button-primary mt-6">
            Neue Checkliste erstellen
            {{ svg:general/arrow class="size-6" }}
        </a>
    </div>
</section>

{{ if {checklists | length} === 0 }}
    <section class="vice my-12 lg:my-20">
        {{ partial:sets/content/notice notice_label="Keine angelegten Checklisten" }}
            <p>
                Du hast bisher noch keine Checklisten erstellt. Fange jetzt an und
                <a href="{{ route:checklists.create }}">erstelle deine erste Checkliste</a>.
            </p>
        {{ /partial:sets/content/notice }}
    </section>
{{ else }}
    <section class="vice my-12 lg:my-20">
        <ul class="border-grid grid grid-cols-1 gap-x-10 gap-y-10 sm:grid-cols-2 lg:grid-cols-3">
            {{ checklists }}
                <li class="border-b-grey-200 relative border-b pb-10 last:border-b-0 sm:last:border-b">
                    <div
                        class="group hocus:-translate-y-1 flex h-full flex-col-reverse justify-end gap-y-4 transition-transform duration-300 ease-in-out"
                    >
                        <div>
                            <h2 class="font-headline mb-2 text-2xl font-bold">
                                <a href="{{ route:checklists.show checklist_id='{{ id }}' }}" class="before:cover">
                                    {{ title }}
                                </a>
                            </h2>
                            <p class="text-base">
                                <span class="label">
                                    Konformitätsstufen: A, AA{{ if include_aaa }}, AAA{{ /if }}
                                </span>
                                <span>Bearbeitet am {{ updated_at | format('d.m.y') }}</span>
                            </p>
                            <div class="my-4">
                                <div class="my-2 h-3 w-full overflow-hidden rounded-xs bg-green-200">
                                    <div
                                        class="bg-green h-3 rounded-xs transition-all duration-300 ease-in-out"
                                        style="width: {{ progress }}%"
                                    ></div>
                                </div>
                                <strong class="text-green block text-sm font-semibold lg:text-base">
                                    {{ progress }}
                                    % abgeschlossen
                                </strong>
                            </div>
                            <span class="button button button-secondary group-hocus:bg-green group-hocus:text-white mt-4">
                                Checkliste aufrufen
                                {{ svg:general/arrow class="size-6" }}
                            </span>
                        </div>
                    </div>
                </li>
            {{ /checklists }}
        </ul>
    </section>
{{ /unless }}
