{{ checklist }}
    <div
        x-data="checklist({
            csrfToken: '{{ csrf_token }}',
            routeStates: '{{ route:checklists.states checklist_id="{checklist:id}" }}',
            routeGroups: '{{ route:checklists.groups checklist_id="{checklist:id}" }}',
            states: '{{ states | to_json | entities }}',
            groups: '{{ groups | to_json | entities }}'
        })"
    >
        <section class="vice my-12 lg:my-20">
            <h1 class="font-headline text-6xl leading-tight font-bold lg:text-7xl">Checkliste: {{ title }}</h1>
            {{ partial:checklists/progress }}
            <div class="mt-10">
                <h2 class="font-base text-grey-800 mb-4 block text-base">Filtermöglichkeiten</h2>
                <input
                    id="include_aaa"
                    class="size-0 appearance-none outline-0"
                    type="checkbox"
                    role="switch"
                    name="include_aaa"
                    :aria-checked="groups['{{ slug }}']"
                    @change="toggleGroup('{{ slug }}', event)"
                />
                <span class="switch relative z-0" aria-hidden="true"></span>
                <label for="include_aaa" class="label relative z-50 inline-block pl-15">
                    WCAG Konformitätsstufe AAA ebenfalls inkludieren
                </label>
            </div>
        </section>

        <section class="vice my-12 lg:my-20">
            <h2 class="font-headline mb-6 text-2xl font-bold lg:mb-10 lg:text-4xl">Überprüfungen</h2>
            <div class="relative lg:grid lg:grid-cols-7 lg:gap-x-6">
                {{ partial:navigation/side-navigation navigation_items="{{ collection:checklist_modules }}" }}
                <ul class="flex flex-col gap-y-10 lg:col-span-5 lg:gap-y-12">
                    {{ collection:checklist_modules }}
                        <li class="border-b-grey-200 border-b pb-10 lg:pb-12">
                            {{ partial:checklists/checklist-module }}
                        </li>
                    {{ /collection:checklist_modules }}
                </ul>
            </div>
        </section>
    </div>
{{ /checklist }}
