{{ checklist }}
    <div
        x-data="checklist({
        csrfToken: '{{ csrf_token }}',
        route: '{{ route:checklists.toggle checklist_id="{ checklist:id }" }}',
        states: '{{ states | to_json | entities }}'
    })">
        <section class="vice my-12 lg:my-20">
            <h1 class="font-headline leading-tight text-6xl font-bold lg:text-7xl">
                Checkliste: {{ title }}
            </h1>
            {{ partial:checklists/progress }}
        </section>

        <section class="vice my-12 lg:my-20">
            <h2 class="font-headline mb-6 text-2xl font-bold lg:mb-10 lg:text-4xl">
                Überprüfungen
            </h2>
            <div
                class="relative lg:grid lg:grid-cols-7 lg:gap-x-6">
                {{ partial:navigation/side-navigation navigation_items="{{ collection:checklist_modules }}" }}
                <ul class="flex flex-col gap-y-10 lg:col-span-5 lg:gap-y-16">
                    {{ collection:checklist_modules }}
                        <li>
                            <h3 class="font-semibold text-xl lg:text-2xl">{{ title }}</h3>
                            {{ if description }}
                                <div class="autoformat mt-2">
                                    {{ description }}
                                </div>
                            {{ /if }}

                            {{ if can_be_hidden }}
                                <div id="group-label-{{ slug }}" x-data="{ isChecked: false }" class="mt-4">
                                    <button
                                        role="switch"
                                        :aria-checked="isChecked"
                                        @click="isChecked = !isChecked"
                                        class="group switch"
                                    >
                                        <span class="sr-only">Checkliste der Komponente anzeigen</span>
                                        <span class="pl-15 group-aria-checked:hidden" aria-hidden="true">Nicht inkludieren</span>
                                        <span class="pl-15 hidden group-aria-checked:block" aria-hidden="true">Inkludieren</span>
                                    </button>
                                </div>
                            {{ /if }}
                            <ul class="mt-6 flex flex-col gap-y-4">
                                {{ checklist_points }}
                                    <li class="grid grid-cols-[2rem_auto] gap-x-4">
                                        <div class="mt-4">
                                            <label
                                                for="{{ checklist_point_id }}"
                                                class="sr-only">Aufgabe: {{ title }}</label>
                                            <input
                                                id="{{ checklist_point_id }}"
                                                class="size-6 accent-green"
                                                type="checkbox"
                                                name="{{ checklist_point_id }}"
                                                :checked="states['{{ slug }}'] && states['{{ slug }}']['{{ checklist_point_id }}']"
                                                @change="toggle('{{ slug }}', '{{ checklist_point_id }}', event)"
                                            />
                                        </div>
                                        {{ partial:checklists/disclosure }}
                                    </li>
                                {{ /checklist_points }}
                            </ul>
                        </li>
                    {{ /collection:checklist_modules }}
                </ul>
            </div>
        </section>
    </div>
{{ /checklist }}
