<h3 class="font-semibold text-xl lg:text-2xl">{{ title }}</h3>
{{ if description }}
    <div class="autoformat mt-2">
        {{ description }}
    </div>
{{ /if }}

{{ partial:checklists/switch }}

<ul
    {{ if can_be_hidden }}
        x-show="groups['{{ slug }}']"
        x-cloak
    {{ /if }}
    data-can-be-hidden="{{ can_be_hidden }}"
    data-group="{{ slug }}"
    class="mt-6 flex flex-col gap-y-4"
>
    {{ checklist_items }}
        <li class="grid grid-cols-[2rem_auto] gap-x-4">
            <div class="mt-4">
                <label
                    for="{{ checklist_item_id }}"
                    class="sr-only">Aufgabe: {{ title }}</label>
                <input
                    id="checklist-item-{{ checklist_item_id }}"
                    class="size-6 accent-green"
                    type="checkbox"
                    name="checklist-item-{{ checklist_item_id }}"
                    :checked="states['{{ slug }}'] && states['{{ slug }}']['{{ checklist_item_id }}']"
                    @change="toggleState('{{ slug }}', '{{ checklist_item_id }}', event)"
                />
            </div>
            {{ partial:checklists/disclosure }}
        </li>
    {{ /checklist_items }}
</ul>
