<div x-data="accordion({ id: '{{ slug }}' })" class="border-green rounded-sm border bg-white">
    {{ partial:disclosure/control control_id="{slug}" }}
        <div class="flex flex-wrap gap-x-3">
            <h3 class="font-headline text-green hocus:text-green-800 text-lg font-medium">
                <button
                    @click="toggle()"
                    id="accordion-button-{{ slug }}"
                    :aria-expanded="isOpen"
                    aria-controls="accordion-panel-{{ slug }}"
                    class="before:cover text-left"
                >
                    {{ headline | entities }}
                </button>
            </h3>
            {{ if conformance_level }}
                <span class="pill pill-primary">
                    {{ conformance_level:title }}
                </span>
            {{ /if }}
        </div>
    {{ /partial:disclosure/control }}
    <article id="accordion-panel-{{ slug }}" x-cloak x-show="isOpen" class="autoformat px-4 pb-4 sm:px-6">
        {{ description }}
            {{ partial:if_exists src="sets/editor/{type | dashify}" }}
        {{ /description }}
        {{ if has_linked_entry }}
            <div class="mt-6 text-sm flex justify-end lg:text-base">
                {{ if component && !requirement }}
                    <a href="{{ component:url }}" class="flex gap-x-2 items-center text-green underline hocus:text-green-800">
                        Zur Komponente in der Wissensbibliothek
                        {{ svg:general/arrow class="size-6" }}
                    </a>
                {{ /else }}
                    <a href="{{ component:url }}#{{ requirement:slug }}" class="flex gap-x-2 items-center text-green underline hocus:text-green-800">
                        Zur Anforderung in der Wissensbibliothek
                        {{ svg:general/arrow class="size-6" }}
                    </a>
                {{ /if }}
            </div>
        {{ /if }}
    </article>
</div>
