<div
    id="progress-display"
    class="hidden bg-green-100 p-4 rounded-sm mt-6 flex flex-col gap-4 md:flex-row md:justify-between lg:p-6"
>
    <div>
        <h2 class="font-base font-bold">
            Aktueller Stand
        </h2>
        <span class="block">Zuletzt bearbeitet am {{ updated_at | format('d.m.y') }}</span>
    </div>
    <div class="md:self-end">
        <div class="my-2 w-full bg-green-400 h-3 rounded-xs overflow-hidden">
            <div
                class="bg-green h-3 rounded-xs transition-all ease-in-out duration-300"
                :style="{ width: progressPercent() + '%' }"
            ></div>
        </div>
        <div class="text-sm lg:text-base flex flex-wrap gap-x-1">
            <strong class="text-green font-semibold block">
                <span x-text="progressPercent() ?? {{ progress }}"></span> % abgeschlossen
            </strong>
            <span aria-hidden="true"> | </span>
            <span>
                <span x-text="checkedCount"></span> von
                <span x-text="totalCount"></span>
                Überprüfungen
            </span>
        </div>
    </div>
</div>
