{{ if can_be_hidden }}
    <div>
        <input
            id="checklist-group-{{ slug }}"
            class="appearance-none outline-0 size-0"
            type="checkbox"
            name="checklist-group-{{ slug }}"
            :checked="groups['{{ slug }}']"
            @change="toggleGroup('{{ slug }}', event)"
        />
        <span class="switch relative z-0" aria-hidden="true"></span>
        <label
            for="checklist-group-{{ slug }}"
            class="relative label inline-block pl-15 z-50"
        >
            Komponente inkludieren
        </label>
    </div>
{{ /if }}
