ansible
deploy-excludes.txt
docker-compose.yml
docker-compose.live.yml
public/storage
server.php
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
tests
.editorconfig
.env.example
.env.testing
.eslintr.json
.git
.gitignore
.gitlab-ci.yml
.php-cs-fixer.php
.stylelintrc.json
phpunit.xml
quality-checklist-web-development.md
README.md
vite.config.js
package-lock.json
package.json
docker-compose.override.yml
node_modules
infrastructure-variables.yml
