@theme {
  --color-*: initial;
  --color-current: currentColor;

  --color-black: var(--color-grey);
  --color-white: var(--color-yellow-50);

  --color-grey: #1A1A1A;
  --color-grey-800: #484746;
  --color-grey-600: #767472;
  --color-grey-400: #A3A29E;
  --color-grey-200: #D1CFCA;
  --color-grey-100: #E8E5E0;
  --color-grey-50: #F4F1EB;

  --color-green: #034D53;
  --color-green-800: #357074;
  --color-green-600: #689394;
  --color-green-400: #9AB6B5;
  --color-green-200: #CDD9D5;
  --color-green-100: #E6EAE6;
  --color-green-50: #F2F3EE;

  --color-blue: #006BB8;
  --color-red: #D73A13;
  --color-purple: #562F83;
  --color-yellow: #F7C64F;
  --color-yellow-50: #FFFCF6;
}
