@theme {
    --color-*: initial;
    --color-current: currentColor;
    --color-black: var(--color-grey);
    --color-white: var(--color-yellow-50);
    --color-grey: #1a1a1a;
    --color-grey-800: #484746;
    --color-grey-600: #767472;
    --color-grey-400: #a3a29e;
    --color-grey-200: #d1cfca;
    --color-grey-100: #e8e5e0;
    --color-grey-50: #f4f1eb;
    --color-green: #034d53;
    --color-green-800: #357074;
    --color-green-600: #689394;
    --color-green-400: #9ab6b5;
    --color-green-200: #cdd9d5;
    --color-green-100: #e6eae6;
    --color-green-50: #f2f3ee;
    --color-blue: #006bb8;
    --color-blue-800: #3388C4;
    --color-blue-50: #F2F5F3;
    --color-red: #d73a13;
    --color-red-800: #DF6140;
    --color-red-200: #F7D5C9;
    --color-red-100: #fbe9df;
    --color-red-50: #FDF2EB;
    --color-purple: #562f83;
    --color-purple-800: #78589A;
    --color-purple-200: #DDD3DF;
    --color-purple-50: #F7F2F0;
    --color-yellow: #f7c64f;
    --color-yellow-200: #FDF1D5;
    --color-yellow-50: #fffcf6;
    --color-yellow-900: #EEB529;
}
