@theme {
    --font-headline: 'Onest', sans;
    --font-base: 'Open Sans', sans;
}

@font-face {
    font-family: 'Onest';
    src: url('/public/fonts/font-onest-variable.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/public/fonts/font-open-sans-variable.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
    font-display: block;
}
