<section class="vice my-12 flex flex-col-reverse lg:my-20">
    <h1 class="font-headline text-6xl font-bold lg:text-7xl">
        {{ title }}
    </h1>
    <span class="mb-4 block">
        {{ component_type === 'specific' ? 'Spezifische Komponente' : 'Allgemeine Komponente' }}
    </span>
</section>
<section class="bg-green-100 py-12 lg:py-20">
    <div class="vice">
        <h2 class="font-headline text-2xl font-bold lg:text-5xl">Warum ist a11y wichtig?</h2>
    </div>
</section>
<section class="vice my-12 lg:my-20">
    <h2 class="font-headline text-2xl font-bold lg:text-5xl">Was muss beachtet werden?</h2>
</section>
