<section class="vice my-12 lg:my-20">
    <div class="flex flex-col-reverse">
        <h1 class="font-headline text-6xl font-bold lg:text-7xl">
            {{ title }}
        </h1>
        <span class="mb-4 block">
            {{ component_type === 'specific' ? 'Spezifische Komponente' : 'Allgemeine Komponente' }}
        </span>
    </div>
    {{ if description }}
        <div class="autoformat mt-4 max-w-4xl">{{ description }}</div>
    {{ /if }}
</section>

{{ if learning_modules }}
    <section class="bg-green-50 py-12 lg:py-20">
        <div class="vice">
            <h2 class="font-headline mb-6 text-2xl font-bold lg:mb-8 lg:text-4xl">Warum ist a11y wichtig?</h2>
            <ul class="flex flex-col gap-y-4 lg:gap-y-6">
                {{ learning_modules }}
                    <li x-data="accordion({ id: '{{ slug }}' })" class="border-green rounded-sm border bg-white">
                        {{ partial:disclosure/control control_id="{slug}" }}
                            <h3 class="font-headline text-green flex flex-wrap gap-x-3 text-xl font-semibold hocus:text-green-800">
                                <button
                                    @click="toggle()"
                                    id="accordion-button-{{ slug }}"
                                    :aria-expanded="isOpen"
                                    aria-controls="accordion-panel-{{ slug }}"
                                    class="before:cover text-left"
                                >
                                    {{ title }}
                                </button>
                            </h3>
                        {{ /partial:disclosure/control }}
                        <article
                            id="accordion-panel-{{ slug }}"
                            x-cloak
                            x-show="isOpen"
                            class="flex flex-col gap-y-4 px-4 pb-4 sm:px-6"
                        >
                            {{ content }}
                                {{ partial:if_exists src="sets/content/{type | dashify}" }}
                            {{ /content }}
                        </article>
                    </li>
                {{ /learning_modules }}
            </ul>
        </div>
    </section>
{{ /if }}

{{ if resources }}
    <section class="vice my-12 lg:my-20">
        <h2 class="font-headline mb-6 text-2xl font-bold lg:mb-10 lg:text-4xl">Was muss beachtet werden?</h2>
        <div class="relative lg:grid lg:grid-cols-7 lg:gap-x-6">
            {{ partial:navigation/side-navigation }}
            <ul class="flex flex-col gap-y-4 lg:col-span-5">
                {{ resources }}
                    <li>{{ partial:resources/disclosure }}</li>
                {{ /resources }}
            </ul>
        </div>
    </section>
{{ /if }}
