<section class="vice mt-6 mb-12 lg:mt-10 lg:mb-20 lg:grid lg:grid-cols-7 lg:gap-x-6">
    <div class="lg:col-span-5">
        <div class="flex flex-col-reverse">
            <h1 class="font-headline text-6xl font-bold lg:text-7xl">
                {{ title }}
            </h1>
            <span class="text-grey-800 mb-4 block text-sm lg:text-base">
                {{ component_type === 'specific' ? 'Spezifische Komponente' : 'Allgemeine Komponente' }}
            </span>
        </div>
        {{ if description }}
            <div class="autoformat mt-4">{{ description }}</div>
        {{ /if }}
    </div>
    <div class="hidden lg:col-span-2 lg:block">
        {{ picture:teaser_image default="300 | 16:9 | calc(95%-4rem)" sm="650 | 16:9 | calc((95%-4rem)/2)" lg="520 | 16:9 | calc((95%-4rem)/3)" xl="580 | 16:9 | 580px" class="rounded-sm size-full object-cover" }}
    </div>
</section>
{{ if learning_modules }}
    <section class="vice my-12 lg:my-20">
        {{ partial:learning-module }}
    </section>
{{ /if }}
{{ if resources }}
    <section class="vice my-12 lg:my-20">
        <h2 class="font-headline mb-6 text-2xl font-bold lg:mb-10 lg:text-4xl">Was muss beachtet werden?</h2>
        <div class="relative lg:grid lg:grid-cols-7 lg:gap-x-6">
            {{ partial:navigation/side-navigation navigation_items="{{ resources }}" add_hash_to_url="true" }}
            <ul class="flex flex-col gap-y-4 lg:col-span-5">
                {{ resources }}
                    <li>{{ partial:resources/disclosure }}</li>
                {{ /resources }}
            </ul>
        </div>
    </section>
{{ /if }}

<section class="vice my-12 lg:my-20">
    <p class="ml-auto text-right text-sm text-grey-800">
        Zuletzt aktualisiert am {{ updated_at | format('d.m.y') }}
    </p>
</section>
