<footer class="mt-auto bg-green-50 py-10">
    <div class="vice flex flex-wrap justify-between gap-x-10">
        <div class="autoformat flex items-start gap-x-3 text-sm">
            {{ svg:status/info class="text-green mt-1 size-6 shrink-0" }}
            <p class="max-w-4xl">
                Diese Website wurde im Rahmen einer Masterthesis an der
                <a href="https://hs-flensburg.de/">Hochschule Flensburg</a>
                entwickelt.
                <br />
                Sie dient zu Forschungszwecken und ist nicht DSGVO konform. Die Nutzer:innen
                dieser Website sind angehalten, sich darüber im klaren zu sein, dass ihr Nutzer:innenverhalten
                getrackt und analysiert wird.
            </p>
        </div>
        <nav aria-label="Fußnavigation" class="mt-6 ml-auto">
            <ul class="flex items-center justify-end gap-x-6">
                {{ nav:footer_navigation }}
                    <li>
                        <a
                            href="{{ url }}"
                            class="link-underline text-sm"
                            {{ if is_current }} aria-current="page" {{ /if }}
                        >
                            {{ title }}
                        </a>
                    </li>
                {{ /nav:footer_navigation }}
            </ul>
        </nav>
    </div>
</footer>
