<header class="vice py-6">
    <nav x-data="mainNavigation()" aria-labelledby="main-navigation-control">
        <div class="flex items-center justify-between">
            <p>Logo</p>
            <button
                @click="toggle()"
                id="main-navigation-control"
                :aria-expanded="isOpen"
                aria-controls="main-navigation-list"
                class="group flex cursor-pointer items-center gap-x-2 font-semibold"
            >
                <span class="rotate-45 transition-transform duration-300 group-aria-expanded:rotate-0">
                    {{ svg:general/close }}
                </span>
                Menü
            </button>
        </div>
        <ul
            id="main-navigation-list"
            x-show="isOpen"
            x-cloak
            class="bg-green fixed inset-x-6 top-18 flex flex-col gap-y-6 rounded-sm p-6 text-lg text-white"
        >
            {{ nav:main_navigation }}
                <li x-data="{ isOpen : false }">
                    {{ if !children }}
                        <a href="{{ url }}" class="link-underline">
                            {{ title }}
                        </a>
                    {{ else }}
                        <button
                            class="link-underline flex items-center gap-x-2 font-semibold"
                            :aria-expanded="isOpen"
                            @click="isOpen = !isOpen"
                        >
                            {{ title }}
                            <span class="size-6 rotate-90">{{ svg:general/chevron }}</span>
                        </button>
                        <div x-show="isOpen" x-cloak class="pt-6">
                            {{ if children }}
                                {{ children limit="1" }}
                                    <a href="{{ url }}" class="button mb-6">
                                        {{ title }}
                                        <span class="size-6">{{ svg:general/arrow }}</span>
                                    </a>
                                    <span id="sub-navigation-list-{{ index }}" class="mb-4 block text-base">
                                        Schnellverweise
                                    </span>
                                {{ /children }}
                                <ul
                                    aria-labelledby="sub-navigation-list-{{ index }}"
                                    class="relative flex flex-col gap-y-6 pl-4 before:absolute before:top-0 before:left-0 before:h-full before:w-px before:bg-white"
                                >
                                    {{ children offset="1" }}
                                        <li>
                                            <a href="{{ url }}" class="link-underline">{{ title }}</a>
                                        </li>
                                    {{ /children }}
                                </ul>
                            {{ /if }}
                        </div>
                    {{ /if }}
                </li>
            {{ /nav:main_navigation }}
        </ul>
    </nav>
</header>
