<header class="vice w-full py-6">
    <nav
        x-data="{ mainNavOpen : false }"
        @click.outside="mainNavOpen = false"
        aria-label="Seitenavigation"
        class="relative lg:flex lg:justify-between"
    >
        <div class="flex items-center justify-between">
            <a href="{{ homepage }}">Logo</a>
            <button
                @click="mainNavOpen = !mainNavOpen"
                id="main-navigation-control"
                :aria-expanded="mainNavOpen"
                aria-controls="main-navigation-list"
                class="group flex cursor-pointer items-center gap-x-2 font-semibold lg:hidden"
            >
                <span class="rotate-45 transition-transform duration-300 group-aria-expanded:rotate-0">
                    {{ svg:general/close }}
                </span>
                Menü
            </button>
        </div>
        {{ partial:navigation/main-navigation }}
    </nav>
</header>
