<header class="vice relative flex w-full items-center justify-between gap-x-6 py-6 lg:w-[95%] xl:gap-x-10">
    <nav
        x-data="mainNavigation()"
        @click.outside="clickOutside()"
        aria-label="Hauptnavigation"
        class="w-full lg:flex lg:justify-between"
    >
        <div class="flex items-center justify-between pt-1">
            <a href="{{ homepage }}" class="flex items-center gap-x-4">
                {{ svg:design/logo class="shrink-0" }}
                <strong class="font-headline sr-only font-bold md:not-sr-only">A11yEssentials</strong>
            </a>
            <button
                @click="toggle()"
                id="main-navigation-control"
                :aria-expanded="isOpen"
                aria-controls="main-navigation-list"
                class="group flex cursor-pointer items-center gap-x-2 font-semibold lg:hidden"
            >
                {{ svg:general/close class="rotate-45 transition-transform duration-300 group-aria-expanded:rotate-0" }}
                Menü
            </button>
        </div>
        {{ partial:navigation/main-navigation }}
    </nav>

    {{ partial:navigation/profile-navigation }}
</header>
