{{ if seo:kg_schema_type || kg_schema_type }}
    {{# Global Settings #}}
    {{ if seo:kg_schema_type }}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "{{ seo:kg_schema_type }}",
                "url": "{{ config:app:url ?? '' }}",
                "name": "{{ seo:site_name ?? config:app:name ?? '' }}",
                "description": "{{ seo:seo_description ?? '' }}",
                "image": "{{ config:app:url }}{{ seo:og_image ?? '' }}"{{ if seo:kg_additional_properties }},
                    {{ seo:kg_additional_properties }}
                {{ /if }}
            }
        </script>
    {{ /if }}
    {{# Single Entry Settings #}}
    {{ if kg_schema_type }}
        {{ partial src="schemas/{kg_schema_type | dashify}" }}
    {{ /if }}
{{ /if }}
{{# Breadcrumbs #}}
{{ if seo:breadcrumbs && segment_1 }}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {{ nav:breadcrumbs }}
                    {
                        "@type": "ListItem",
                        "position": {{ count }},
                        "name": "{{ title | linebreaks:hide }}",
                        "item": "{{ permalink }}{{ url }}"
                    } {{ unless last}},{{ /unless}}
                {{ /nav:breadcrumbs }}
            ]
        }
    </script>
{{ /if }}
