{{ $list_item_icon = switch(
                      (type == 'visited') => 'status/pass',
                      () => 'general/close') }}
<h4 class="mb-3 block font-semibold">
    {{ headline }}
</h4>
{{ if list_items }}
    <ul class="flex flex-col gap-y-3">
        {{ list_items }}
            <li class="flex items-center gap-x-2">
                <span
                    class="{{ switch(
    (type == 'visited') => 'text-green',
    () => 'text-red') }} size-6 shrink-0 stroke-2"
                >
                    {{ svg src="{{ $list_item_icon }}" }}
                </span>
                <span>
                    <strong class="font-medium">{{ collection == 'resources' ? 'Ressource' : 'Lerninhalt' }}:</strong>
                    {{ title }}
                </span>
            </li>
        {{ /list_items }}
    </ul>
{{ else }}
    <span class="text-grey-800">Keine Inhalte vorhanden</span>
{{ /if }}
