<form
    x-show="!isLoading"
    x-cloak
    method="POST"
    aria-labelledby="form-headline"
    action="{{ route:axe.run }}"
    class="mt-12 flex flex-col gap-y-6"
    @submit="isLoading = true"
    x-data="form({ errorsCount: '{{ errors | count }}' })"
    novalidate
>
    {{ csrf_field }}
    {{ partial:forms/error-summary }}
    <div>
        <label for="url" class="label">URL der Website (erforderlich)</label>
        <input
            id="url"
            class="input"
            type="url"
            name="url"
            pattern="https://.*"
            aria-required="true"
            value="{{ old:url || input_url }}"
            {{ if get_error:url }}
                aria-invalid="true"
                aria-describedby="checker-url-error"
            {{ /if }}
        />
        {{ get_errors:url }}
            {{ partial:forms/field-error field_id="checker-url-error" messages="{{ messages }}" }}
        {{ /get_errors:url }}
    </div>
    <div class="flex flex-row-reverse justify-end gap-x-4">
        <label for="include_aaa" class="label">WCAG Konformitätsstufe AAA ebenfalls testen</label>
        <input
            id="include_aaa"
            class="accent-green size-6"
            type="checkbox"
            name="include_aaa"
            value="1"
            {{ if input_include_aaa }} checked {{ /if }}
            {{ if get_error:include_aaa }}
                aria-invalid="true"
                aria-describedby="checker-aaa-error"
            {{ /if }}
        />
        {{ get_errors:check_for_aaa }}
            {{ partial:forms/field-error field_id="checker-aaa-error" messages="{{ messages }}" }}
        {{ /get_errors:check_for_aaa }}
    </div>
    <button type="submit" class="button button-primary">
        Test starten
        {{ svg:general/arrow class="size-6" }}
    </button>
</form>
