<div x-data="({ isLoading: false })" class="vice mt-6 mb-12 lg:mt-10 lg:grid lg:grid-cols-6 lg:gap-8">
    <section class="lg:col-span-4">
        <h1 id="form-headline" class="font-headline text-6xl font-bold lg:text-7xl">
            {{ title }}
        </h1>
        {{ if !results }}
            <span id="automatic-test-config" class="sr-only">Konfigurationen des automatischen Tests</span>
            <ul aria-labelledby="automatic-test-config" class="mt-4 flex flex-wrap gap-4">
                <li class="pill pill-primary pill-large">WCAG 2.2 konform</li>
                <li class="pill pill-primary pill-large">Konformitätsstufen: A, AA, AAA (optional)</li>
            </ul>
        {{ else }}
            <div class="autoformat">
                <p class="mt-4 block">
                    <a href="{{ results.url }}">{{ results.url }}</a>
                    |
                    {{ localized_timestamp | format('d.m.y') }}
                    um {{ localized_timestamp | format('H:i') }} Uhr
                </p>
            </div>
        {{ /if }}
        {{ partial:forms/automatic-test }}
    </section>
    {{ unless results }}
        <aside x-show="!isLoading" x-cloak class="mt-12 flex flex-col gap-y-12 lg:mt-0 lg:col-span-2">
            {{ partial:sets/content/notice notice_label="Wichtige Info" }}
                <p>
                    Diese schnelle, automatische Überprüfung kann nur einen kleinen Teil überprüfen und
                    <strong>ersetzt keine vollumfängliche, manuelle Überprüfung</strong>
                    . Sie dient lediglich dazu sich einen ersten schnellen Überblick zu schaffen.
                </p>
            {{ /partial:sets/content/notice }}
            {{ partial:wcag-information }}
        </aside>
    {{ else }}
        {{ results }}
            <div x-show="!isLoading" x-cloak class="lg:col-span-full">
                {{ if results.summary }}
                    {{ partial:results/summary }}
                {{ /if }}
                <section x-data="tablist()" class="my-12 lg:my-20">
                    <div class="mb-6 flex w-full flex-wrap items-end justify-between gap-x-16 gap-y-4 lg:mb-8">
                        <h2 class="font-headline text-2xl font-bold lg:text-4xl">Gefundene Probleme</h2>
                        <div class="shrink-0 md:flex md:items-center md:gap-x-4">
                            <strong id="tablist-label" class="text-grey-800 mb-2 block text-base font-semibold md:mb-0">
                                Sortiert nach:
                            </strong>
                            <div
                                aria-labelledby="tablist-label"
                                role="tablist"
                                class="flex w-max items-center rounded-md bg-green-100 p-2"
                            >
                                {{ partial:tablist/tab tab_label="Nach Auswirkung" index="impact" }}
                                {{ partial:tablist/tab tab_label="Nach Konformität" index="conformance" }}
                            </div>
                        </div>
                    </div>
                    {{ partial:tablist/panel index="impact" }}
                        <ul class="flex flex-col gap-y-4">
                            {{ results.byImpact }}
                                <li x-data="accordion({ id: '{{ impact }}' })" class="border-green rounded-sm border">
                                    {{ partial:results/disclosure-control index='{{ impact }}' }}
                                    {{ partial:results/disclosure-panel index='{{ impact }}' }}
                                </li>
                            {{ /results.byImpact }}
                        </ul>
                    {{ /partial:tablist/panel }}
                    {{ partial:tablist/panel index="conformance" }}
                        <ul class="flex flex-col gap-y-4">
                            {{ results.byConformanceLevel }}
                                <li x-data="accordion({ id: '{{ level }}' })" class="border-green rounded-sm border">
                                    {{ partial:results/disclosure-control index='{{ level }}' }}
                                    {{ partial:results/disclosure-panel index='{{ level }}' }}
                                </li>
                            {{ /results.byConformanceLevel }}
                        </ul>
                    {{ /partial:tablist/panel }}
                </section>
            </div>
        {{ /results }}
    {{ /unless }}
    <div x-show="isLoading" class="mx-auto my-10 lg:col-span-full lg:my-20">
        {{ partial:loading-spinner }}
    </div>
</div>
