@import 'tailwindcss';
@import './components/autoformat.css';
@import './components/buttons.css';
@import './theme/colors.css';
@import './theme/fonts.css';
@import './theme/text-sizes.css';
@import './utilities/underline.css';
@import './utilities/vice.css';

@source '../views/*.antlers.html';
@source '../views/**/*.antlers.html';
@source '../views/**/**/*.antlers.html';
@source '../js/*.js';
@source '../js/**/*.js';

@layer base {
    :focus-visible {
        outline: 3px solid var(--color-black);
        outline-offset: 3px;
        box-shadow: 0 0 0 6px var(--color-white);
    }

    button,
    a {
        cursor: pointer;
    }

    /* Make lists accessible */
    ol {
        list-style: decimal;
        list-style-type: '';
    }

    ul {
        list-style: disc;
        list-style-type: '';
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--font-headline);
    }

    [x-cloak] {
        display: none !important;
    }
}

@variant hocus (&:focus, &:hover);
