@import 'tailwindcss';
@import 'highlight.js/styles/atom-one-dark.min.css';
@import './components/autoformat.css';
@import './components/border-grid.css';
@import './components/buttons.css';
@import './components/circles.css';
@import './components/pills.css';
@import './components/switch.css';
@import './theme/colors.css';
@import './theme/fonts.css';
@import './theme/text-sizes.css';
@import './utilities/caption.css';
@import './utilities/cover.css';
@import './utilities/input.css';
@import './utilities/label.css';
@import './utilities/priority.css';
@import './utilities/underline.css';
@import './utilities/vice.css';

@source '../views/*.antlers.html';
@source '../views/**/*.antlers.html';
@source '../views/**/**/*.antlers.html';
@source '../views/**/**/**/*.antlers.html';
@source '../js/*.js';
@source '../js/**/*.js';

@layer base {
    :focus-visible {
        outline: 3px solid var(--color-black);
        outline-offset: 3px;
        box-shadow: 0 0 0 6px var(--color-white);
    }

    button,
    a,
    input,
    label {
        cursor: pointer;
    }

    ul {
        list-style: disc;
        list-style-type: '';
    }

    ol {
        counter-reset: item;
        list-style: decimal;
        list-style-type: '';
    }

    ol > li {
        counter-increment: item;
        position: relative;
        padding-left: calc(var(--spacing) * 6);
    }

    ol > li::before {
        content: counter(item) '.';
        position: absolute;
        left: calc(var(--spacing) * 0.5);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--font-headline);
    }

    [x-cloak] {
        display: none !important;
    }

    dialog::backdrop {
        background-color: rgba(52, 54, 56, 0.6);
        backdrop-filter: blur(1.5px);
    }
}

@variant hocus (&:focus, &:hover);
