@layer components {
    .autoformat {
        p {
            margin-bottom: calc(var(--spacing) * 4);
        }

        p:last-child {
            margin-bottom: 0;
        }

        p > a:not([class*='button']) {
            color: var(--color-green);
            text-decoration: underline;
            text-decoration-thickness: 0.08em;
            transition: color 0.3s ease-in-out;

            @variant hocus {
                color: var(--color-green-800);
            }
        }

        ul,
        ol {
            padding-left: calc(var(--spacing) * 4);
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing) * 2);
            margin-bottom: calc(var(--spacing) * 4);
        }

        ol {
            list-style-type: decimal;
        }

        ul {
            list-style-type: disc;
        }
    }
}
