@layer components {
    .autoformat {
        p {
            margin-bottom: calc(var(--spacing) * 4);
        }

        p:last-child {
            margin-bottom: 0;
        }

        p > a:not([class*='button']) {
            color: var(--color-green);
            text-decoration: underline;
            text-decoration-thickness: 0.08em;
            transition: color 0.3s ease-in-out;

            @variant hocus {
                color: var(--color-green-800);
            }
        }
    }
}
