@layer components {
    .button {
        display: flex;
        gap: calc(var(--spacing) * 3);
        align-items: center;
        width: max-content;
        font-weight: 600;
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
        transition: all 300ms ease-in-out;
        border-radius: var(--spacing);

        &[disabled] {
            background-color: var(--color-grey-500);
        }
    }

    .button-primary {
        background-color: var(--color-green);
        color: var(--color-white);

        @variant hocus {
            background-color: var(--color-green-800);
            color: var(--color-white);
        }
    }

    .button-secondary {
        background-color: transparent;
        color: var(--color-green);
        border: 1px solid var(--color-green);

        @variant hocus {
            background-color: var(--color-green);
            color: var(--color-white);
        }
    }

    .button-tertiary {
        background-color: var(--color-white);
        color: var(--color-green);
        border: 1px solid var(--color-white);

        @variant hocus {
            background-color: transparent;
            color: var(--color-white);
        }
    }
}
