@layer components {
    .switch {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: calc(var(--spacing) * 0.5);
            left: 0;
            width: calc(var(--spacing) * 12);
            height: calc(var(--spacing) * 6);
            border-radius: calc(var(--spacing) * 4);
            background-color: var(--color-green-400);
            transition: all 300ms ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            top: calc(var(--spacing) * 1.25);
            left: calc(var(--spacing) * 1);
            width: calc(var(--spacing) * 4.5);
            height: calc(var(--spacing) * 4.5);
            border-radius: calc(var(--spacing) * 4);
            background-color: var(--color-white);
            transition: transform 300ms ease-in-out;
        }
    }

    input[type='checkbox']:checked + .switch::before {
        background-color: var(--color-green);
    }

    input[type='checkbox']:checked + .switch::after {
        transform: translateX(calc(var(--spacing) * 5.5));
    }
}
