<div
    id="{{ slug }}"
    x-data="accordion({
        id: '{{ slug }}',
        route: '{{ route:progress.store }}',
        entryId: '{{ id }}',
        collection: '{{ collection }}'
    })"
    class="rounded-sm bg-green-50"
>
    {{ partial:disclosure/control control_id="{slug}" }}
        <h3 class="font-headline text-green hocus:text-green-800 flex flex-wrap gap-x-3 text-xl font-semibold">
            <button
                @click="toggle()"
                id="accordion-button-{{ slug }}"
                :aria-expanded="isOpen"
                aria-controls="accordion-panel-{{ slug }}"
                class="gtm-disclosure-learning-module before:cover text-left"
            >
                {{ title }}
            </button>
        </h3>
    {{ /partial:disclosure/control }}
    <article id="accordion-panel-{{ slug }}" x-cloak x-show="isOpen" class="flex flex-col gap-y-6 px-4 pb-4 sm:px-6">
        {{ content }}
            {{ partial:if_exists src="sets/content/{type | dashify}" }}
        {{ /content }}
    </article>
</div>
