@utility button {
    display: flex;
    gap: calc(var(--spacing) * 3);
    align-items: center;
    width: max-content;
    font-weight: 600;
    border-radius: var(--spacing);
    background-color: var(--color-white);
    color: var(--color-green);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    transition: color 300ms ease-in-out;
    border: 1px solid var(--color-white);

    &:hover {
        border: 1px solid var(--color-white);
        background-color: transparent;
        color: var(--color-white);
    }
}
