@utility button {
    display: flex;
    gap: calc(var(--spacing) * 3);
    align-items: center;
    width: max-content;
    font-weight: 600;
    border-radius: var(--spacing);
    background-color: var(--color-white);
    color: var(--color-green);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);

    &:hover::before {
        width: 100%;
    }
}
