@utility input {
    border: 1px solid var(--color-green);
    border-radius: var(--spacing);
    padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
    width: 100%;
    color: var(--color-green);

    @variant hocus {
        border: 1px solid var(--color-green-800);
    }
}
