<div x-data="({ isLoading: false })" class="vice my-12 lg:grid lg:grid-cols-6 lg:gap-8">
    <section class="lg:col-span-4">
        <div class="autoformat flex flex-col-reverse">
            <h1 id="form-headline" class="font-headline text-6xl font-bold lg:text-7xl">
                {{ title }}
            </h1>
            <p class="mb-4 block">
                {{ if results }}
                    <a href="{{ results.url }}">{{ results.url }}</a>
                    |
                    {{ localized_timestamp | format('d.m.y') }}
                    um {{ localized_timestamp | format('H:i') }} Uhr
                {{ else }}
                    Finde einen Anfang
                {{ /if }}
            </p>
        </div>
        <span id="automatic-test-config" class="sr-only">Konfigurationen des automatischen Tests</span>
        <ul aria-labelledby="automatic-test-config" class="mt-4 flex flex-wrap gap-4">
            <li class="pill pill-primary pill-large">WCAG 2.2 konform</li>
            <li class="pill pill-primary pill-large">Alle Konformitätsstufen möglich</li>
        </ul>
        {{ partial:forms/axe }}
    </section>
    {{ unless results }}
        <aside aria-labelledby="aside-headline" class="mt-12 flex flex-col gap-y-12 lg:col-span-2">
            {{ partial:sets/content/notice notice_label="Wichtige Info" }}
                <p>
                    Diese schnelle, automatische Überprüfung kann nur einen kleinen Teil überprüfen und
                    <strong>ersetzt keine vollumfängliche, manuelle Überprüfung</strong>
                    . Sie dient lediglich dazu sich einen ersten schnellen Überblick zu schaffen.
                </p>
            {{ /partial:sets/content/notice }}
            <div>
                <span id="aside-headline" class="mb-2 block">Weitere Informationen</span>
                <ul class="flex flex-wrap gap-4">
                    <li>
                        <a href="https://www.w3.org/TR/WCAG22/" class="button button-secondary">
                            Die WCAG-Richtlinien
                            {{ svg:general/arrow-up-right class="size-6" }}
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/conformance.html"
                            class="button button-secondary"
                        >
                            Die Konformitätsstufen
                            {{ svg:general/arrow-up-right class="size-6" }}
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    {{ else }}
        {{ results }}
            <div x-show="!isLoading" x-cloak class="lg:col-span-full">
                {{ if results.summary }}
                    {{ partial:results/summary }}
                {{ /if }}
                <section x-data="tablist()" class="my-12 lg:my-20">
                    <div class="mb-6 flex w-full flex-wrap items-end justify-between gap-x-16 gap-y-4 lg:mb-8">
                        <h2 class="font-headline text-2xl font-bold lg:text-4xl">Gefundene Probleme</h2>
                        <div class="shrink-0 md:flex md:items-center md:gap-x-4">
                            <strong id="tablist-label" class="text-grey-800 mb-2 block font-semibold md:mb-0">
                                Sortiert nach:
                            </strong>
                            <div
                                aria-labelledby="tablist-label"
                                role="tablist"
                                class="flex w-max items-center rounded-md bg-green-100 p-2"
                            >
                                {{ partial:tablist/tab tab_label="Nach Auswirkung" index="impact" }}
                                {{ partial:tablist/tab tab_label="Nach Konformität" index="conformance" }}
                            </div>
                        </div>
                    </div>
                    {{ partial:tablist/panel index="impact" }}
                        <ul class="flex flex-col gap-y-4">
                            {{ results.byImpact }}
                                <li x-data="accordion({ id: '{{ impact }}' })" class="border-green rounded-sm border">
                                    {{ partial:results/disclosure-control index='{{ impact }}' }}
                                    {{ partial:results/disclosure-panel index='{{ impact }}' }}
                                </li>
                            {{ /results.byImpact }}
                        </ul>
                    {{ /partial:tablist/panel }}
                    {{ partial:tablist/panel index="conformance" }}
                        <ul class="flex flex-col gap-y-4">
                            {{ results.byConformanceLevel }}
                                <li x-data="accordion({ id: '{{ level }}' })" class="border-green rounded-sm border">
                                    {{ partial:results/disclosure-control index='{{ level }}' }}
                                    {{ partial:results/disclosure-panel index='{{ level }}' }}
                                </li>
                            {{ /results.byConformanceLevel }}
                        </ul>
                    {{ /partial:tablist/panel }}
                </section>
            </div>
        {{ /results }}
    {{ /unless }}
    <div x-show="isLoading" class="mx-auto my-10 lg:col-span-full lg:my-20">
        {{ partial:loading-spinner }}
    </div>
</div>
