---
- name: create server or change a server
  hosts: all
  become: true
  remote_user: root

  vars:
    security_autoupdate_enabled: true
    security_autoupdate_reboot: true
    security_autoupdate_reboot_time: "02:00"
    security_autoupdate_mail_to: "dorien.groenwald@googlemail.de"
    security_autoupdate_mail_on_error: true
    security_ssh_password_authentication: "no"
    security_ssh_permit_root_login: "yes"

  roles:
    - geerlingguy.docker
    - geerlingguy.security

  tasks:
    - name: Set timezone to Europe/Berlin
      community.general.timezone:
        name: Europe/Berlin

    - name: Install UFW firewall
      ansible.builtin.apt:
        name: ufw
        state: present

    - name: Add user dorien
      user:
        name: dorien
        groups: docker
        shell: /bin/bash
        create_home: yes
        append: yes
        state: present

    - name: Set gitlab key for dorien
      authorized_key:
        user: dorien
        key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDDwd6FoY2kQUyWmVeOCWj85zATr+MWwlkxKD7Y4QyCwTiT3QriL3Qk9eX0U92Ntu4yt7+TBPsRzmGYwO3qJsGoJK8ELaPlv7tZB8YEiuGPWAuWnBPsLSOCfMFojUBFJA74YQxOD8eJbME0yk/tZQr4UGQ7+u6g2eRYIcVpW0v2sDobm11X2vWkXxrcylyb+sOqoeQmNUU1gAK2DG03zDKayJBzOLcleibd4FL2kTI5OgOpHX/aWRNAToo/WaWajiilAeLwOVuHm7yfFhsbSvbkVvojnoqeXuTdHiA82dOnyckbvYryrwIxObOKZS8nmdCNphA+Jz+HEt4x185zxN5QJcPoi6LizH0TzpPPxHVgG74bTlN8Mw11YZ2G1AcOGt7wsUgGFR8iMntVv9w3ShB1Y3Dxl2ASXEgVD7ONU//dkw6IlobpfuSeCdKLE72POoyKKI1KLqR43+paLuNmsK+SKZGyc4RYyJho/Ywn2D1ByQfdEp7vFKVyTzeB2AzvQgwrcq9ZVRU28mP3UT/QZacc6gjCQ1BC1Cf85JlAUXoT/pGfxKPtPPP74E9NbZKUJ/vckvjXnTNKPD47YyBsQoURYPIWS0vgDR1HGXLz2+oLPQCgRIeJYJaIWS+wU1NvOUfjUO3cq+t8/7csQObr1PG1NFZC15uf/QcbPfP03/9LPQ==
        state: present

    - name: Create docker overlay network
      community.docker.docker_network:
        name: web
        state: present
        ipam_config:
          - subnet: 172.19.0.0/16

    - name: UFW - Deny everything incoming
      community.general.ufw:
        policy: deny
        direction: incoming

    - name: UFW - Allow everything outgoing
      community.general.ufw:
        policy: allow
        direction: outgoing

    - name: UFW - Allow ssh
      community.general.ufw:
        rule: allow
        port: ssh
        proto: tcp

    - name: UFW - Allow all access to http, https and ssh
      community.general.ufw:
        rule: allow
        direction: in
        port: '{{ item }}'
        proto: tcp
      loop:
        - 80
        - 443

    - name: UFW - Allow access via QUIC
      community.general.ufw:
        rule: allow
        direction: in
        port: 443
        proto: udp

    - name: Remove old images
      ansible.builtin.cron:
        name: "Delete old images once a day"
        minute: "0"
        hour: "0"
        job: "docker image prune -af"

    - name: UFW - Enable
      community.general.ufw:
        state: enabled

    - name: Create folder for the dev application
      file:
        path: "/home/dorien/dev"
        state: directory
        owner: dorien

    - name: Create folder for the live application
      file:
        path: "/home/dorien/main"
        state: directory
        owner: dorien

    - name: Create traefik folder
      file:
        path: "/home/dorien/traefik"
        state: directory
        owner: dorien

    - name: Copy docker-compose.traefik.yml to destination
      ansible.builtin.copy:
        src: docker-compose.traefik.yml
        dest: /home/dorien/traefik/docker-compose.yml
        owner: dorien
        group: dorien

    - name: Start traefik
      ansible.builtin.command: docker compose up -d
      args:
        chdir: /home/dorien/traefik
