---
- name: create server
  hosts: all
  become: true
  remote_user: root

  tasks:
    - name: Update cache
      apt:
       update_cache: yes

    - name: Upgrade all packages
      apt:
        name: "*"
        state: latest

    - name: Remove dependencies that are no longer required
      apt:
        autoremove: yes

    - name: Pull new traefik image
      ansible.builtin.command: docker compose pull
      args:
        chdir: /home/dorien/traefik

    - name: Start traefik
      ansible.builtin.command: docker compose up -d
      args:
        chdir: /home/dorien/traefik
