<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        {{ partial:layout/built-by }}
        <title>Ein Fehler ist aufgetreten</title>
        {{ partial:layout/knowledge-graph }}
        {{ partial:layout/favicons }}
        {{ vite src="resources/js/site.js|resources/css/app.css" }}
    </head>
    <body class="text-base font-light antialiased">
        {{ partial:layout/header }}
        {{ yield:seo_body }}
        <main>
            {{ template_content }}
        </main>
        {{ partial:layout/footer }}
        {{ partial:layout/scripts }}
        {{ partial:helpers/utility-class-helper }}
    </body>
</html>
