<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <title>Ein Fehler ist aufgetreten</title>
        {{ partial:layout/knowledge-graph }}
        {{ partial:layout/favicons }}
        {{ vite src="resources/js/site.js|resources/css/app.css" }}
    </head>
    <body class="font-base flex min-h-screen flex-col bg-white text-base text-black antialiased">
        {{ partial:buttons/skip-link }}
        {{ partial:layout/header }}
        {{ yield:seo_body }}
        <main id="main" class="flex-1">
            {{ template_content }}
        </main>
        {{ partial:layout/footer }}
        {{ partial:layout/scripts }}
        {{ partial:helpers/utility-class-helper }}
    </body>
</html>
