<div x-data="profileNavigation()" @click.outside="clickOutside()">
    <button
        @click="toggle()"
        :aria-expanded="isOpen"
        aria-controls="profile-navigation-list"
        aria-labelledby="proile-navigation-label"
        class="group/profile flex items-center gap-x-2"
    >
        <span
            :class="loggedIn ? 'bg-green-50 text-green' : 'bg-grey-100 text-grey-800'"
            class="flex size-10 shrink-0 items-center justify-center rounded-full text-sm font-bold uppercase"
        >
            <span x-cloak x-show="loggedIn" x-text="userInitials"></span>
            <span x-cloak x-show="!loggedIn">{{ svg:general/person class="size-6 stroke-2" }}</span>
        </span>
        {{ svg:general/chevron class="size-5 rotate-90 group-aria-expanded/profile:-rotate-90" }}
    </button>
    <div
        id="profile-navigation-list"
        x-show="isOpen"
        x-cloak
        class="bg-green absolute top-18 right-6 z-50 w-full max-w-2xs flex-col gap-y-6 rounded-sm p-6 text-base text-white"
    >
        <span id="proile-navigation-label" class="sr-only">Dein Profil</span>
        <div x-show="loggedIn">
            <span class="-mt-1">Angemeldet als:</span>
            <p class="mb-3 truncate font-bold" x-cloak x-text="userEmail"></p>
            <a href="{{ user:logout_url }}" class="button button-tertiary">Abmelden</a>
        </div>

        <a x-show="!loggedIn" href="{{ route:auth.login }}" class="button button-tertiary">Anmelden</a>
    </div>
</div>
