<aside class="hidden h-max lg:sticky lg:top-0 lg:col-span-2 lg:block">
    <span id="component-side-navigation" class="text-grey-800 mb-4 block text-base">Schnellverweise</span>
    <nav aria-labelledby="component-side-navigation">
        <ul
            class="before:bg-grey-400 relative flex flex-col gap-y-2 pl-4 before:absolute before:top-0 before:left-0 before:h-full before:w-px"
        >
            {{ ressources }}
                <li x-data="sideNavigation({ slug: '{{ slug }}'})">
                    <button
                        @click="scrollToElement(event)"
                        class="hocus:text-green-800 transition-colors duration-300 ease-in-out"
                    >
                        {{ title }}
                    </button>
                </li>
            {{ /ressources }}
        </ul>
    </nav>
</aside>
